<container class="panel-body">
    <!-- Q1 -->
    <h4>
        <strong>Question 1</strong>
    </h4>
    <h5>{{Question}}</h5>
    <div class="form-radio">
        <input class="form-radio-input" type="radio" value="" id="defaultradio1">
        <label class="form-radio-label" for="defaultradio1">
            A.{{answer1}}
        </label>
    </div>
    <div class="form-radio">
        <input class="form-radio-input" type="radio" value="" id="defaultCheck1">
        <label class="form-radio-label" for="defaultCheck1">
            B.{{answer2}}
        </label>
    </div>
    <div class="form-radio">
        <input class="form-radio-input" type="radio" value="" id="defaultCheck1">
        <label class="form-radio-label" for="defaultCheck1">
            C.{{answer3}}
        </label>
    </div>
    <div class="form-radio">
        <input class="form-radio-input" type="radio" value="" id="defaultCheck1">
        <label class="form-radio-label" for="defaultCheck1">
            D.{{answer4}}
        </label>
    </div>
    <!-- Quiz Submit Button -->
    <button id="submitButton" type="submit" class="btn btn-md btn-danger btn-block">
        <h4>
            <span class="glyphicon glyphicon-send"></span> Submit</h4>
    </button>
</container>