<container class="container-fluid">
              <container class="panel-body">
                <!-- Q1 -->
                <h4>
                    <strong>Question 1</strong>
                </h4>
                <h5>{{Question}}</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        A.{{answer1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        B.{{answer2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        C.{{answer3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        D.{{answer4}}
                    </label>
                </div>
        <!-- Quiz Submit Button -->
        <button id="submitButton" type="submit" class="btn btn-md btn-danger btn-block">
            <h4>
                <span class="glyphicon glyphicon-send"></span> Submit</h4>
        </button>
</container>
</container>